<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW COUNT</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">VIEW COUNT.</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pred</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            <img src="../static/images/logo.png" alt="not working">
        
            <div class="text-section">
                <h1>View count helps to get reach to you content</h1>
                <h2>Boost views</h2>
                <p>Ever had worried about your youtube views and need to target specific audience now the VIEW COUNT VISIONARY is your perfect solution with all analysis. </p>
                <a href="/result">
                <button class="get-started">Get Started</button>
                </a>
            </div>
        </div>
    </main>
</body>
</html>